<div class="ultimoPedido">
  <h2>Mis últimos pedidos</h2>
  <div *ngFor="let order of user_orders" class="listaPedidos">
    <mat-list role="list" class="pedido">
      <mat-list-item class="date">
        <span>{{ order.date | date:"dd / MM / YYYY" }}</span>
      </mat-list-item>

      <div class="detalles">
        <div *ngFor="let detail of order.details" class="detalles">
          <mat-list-item class="item">
            <span>{{ detail.quantity }}x </span>
            <span>{{ detail.product.name }}</span>
          </mat-list-item>
        </div>
      </div>
      <mat-list-item class="date">
        <span class="state"> Estado:</span><span [ngStyle]="{'color': getColorForState(order.state)}"> {{ order.state }}</span>
      </mat-list-item>
    </mat-list>
    <div class="repetirPedido">
      <button mat-raised-button color="primary">Repetir pedido</button>
    </div>

  </div>
</div>
