.content {
  padding-top: 10px;
}
h1 {
  text-align: center;
}
.row {
  display: flex;
  flex-wrap: wrap;

  mat-form-field {
    width: 100%;
  }
}

.action {
  padding: 0px 25px 20px;
  button {
    flex: 1;
  }
}
