<footer>
    <div class="container-fluid p-4">
        <div class="row principal">
            <div class="direccion col-sm-12 col-md-3 text-center">
                <p class="titulo">Dirección</p>
                <a href="https://goo.gl/maps/STANK1nuCrfpcjfJ8" target="_blank">
                    <div class="d-flex justify-content-center">
                        <mat-icon>place</mat-icon>
                        <p id="ubicacion">Calle de Dr. Jiménez Díaz, 3, 28320 Pinto, Madrid </p>
                    </div>
                </a>
                <p class="titulo mt-4">Contacta con nosotros</p>
                <a href="tel:+34916914771" class="telefono">
                    <div class="d-flex justify-content-center">
                        <mat-icon>phone</mat-icon>
                        <p id="telefono">916 914 771</p>
                    </div>
                </a>
            </div>
            <div class="time col-sm-12 col-md-6">
                <p class="titulo text-center">Horario</p>
                <p class="horario"><b>Lunes, Miércoles, Jueves, Viernes:</b></p>
                <p class="horario">De 09:00 a 16:00 | 18:00 a 01:00</p>
                <p class="horario"><b>Martes:</b></p>
                <p class="horario">Cerrado</p>
                <p class="horario"><b>Sábados y Domingos:</b></p>
                <p class="horario">De 10:00 a 16:00 | 18:00 a 01:00</p>
            </div>
            <div class="media col-sm-12 col-md-3 text-center">
                <p class="titulo">Redes sociales</p>
                <div class="d-flex justify-content-center">
                    <a href="https://www.facebook.com/Anteux/" class="boton_facebook" target="_blank"
                        aria-label="facebook"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/burgueranteuxpinto/" class="boton_instagram" target="_blank"
                        aria-label="instagram"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pt-4 copyright">
                <p class="text-center m-0 copy">© 2023 BURGER ANTEUX. Todos los derechos
                    reservados.</p>
                <p class="text-center copy">Creación de GonzSanz & Alloz4</p>
            </div>
        </div>
    </div>
</footer>