@import '/src/app/variables.scss';

header{
    background-color: $color-negro;
}

img {
    width: 50px;
    height: 50%;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
}
.nav-link{
    color: $color-blanco;
}

.menu{
    color: $color-amarillo;
    border: none;
}

.menu:focus {
    box-shadow: none;
}

.person{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    color: $color-amarillo;

}
.carrito {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    color: $color-amarillo;
}

#collapsibleNavbar {
    z-index: -1;
}

.acceso {
    color: $color-amarillo;
    width: 15px;
    height: 15px;
    font-size: 7px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
}
.cesta{
    display: inline-block;
    background-color: $color-amarillo;
    color: $color-negro;
    width: 15px;
    height: 15px;
    font-size: 7px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: -2px;
    top: 5px;
}

