@import '../../../app/variables.scss';

mat-toolbar-row {
  display: flex;
  align-items: center;
  background-color: #000;
  color: $color-amarillo;

  h1 {
    font-family: $fuente-anteux;
    margin: 0 auto;
    font-size: calc(1rem + 1vh);
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .btn {
    margin: 0 10px;
    color: $color-negro;
    background-color: $color-amarillo;
    font-size: calc(1rem + .6vh);
    font-family: $fuente-anteux;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;

  }
}

.main-body {
  margin: 0 auto;
  padding-top: 20px;
  max-width: 1248px;

  mat-form-field {
    width: 100%;
  }


  .acciones {
    div {

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

h2 {
  font-size: calc(3rem + .6vh);
  margin: 20px 0px;
  text-align: center;
  font-family: $fuente-anteux;
  font-weight: bold;
}



.ready-state {
  background-color: green;
  color: white;
}

select.delivered-state {
  background-color: rgb(229, 187, 0);
}
select {
  background-color: rgb(132, 2, 2);
  color: white;
  font-weight: bold;
  border-style: hidden;
}
