@import '../../../app/variables.scss';

mat-toolbar-row {
  justify-content: space-between;
  background-color: #000;
  color: $color-amarillo;

  h1 {

    font-size: calc(1rem + 1vh);
  }

  .example-spacer {
    flex: 1 1 auto;
  }
}

.main-body {
  margin: 0 auto;
  padding-top: 20px;
  max-width: 1248px;

  mat-form-field {
    width: 100%;
  }

  // .acciones {
  //   display: flex;
  //   align-items: center;
  //   vertical-align: middle;
  // }
}
