<div class="image-container">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>
                        ¿Estás buscando un sitio que ofrezca hamburguesas caseras en Pinto?
                    </h2>
                    <p>
                        En nuestro restaurante familiar llevamos desde 1990 apostando por la
                        comida casera, por ello todas nuestras carnes y salsas son
                        elaboradas por nosotros mismos, utilizando además exclusivamente
                        alimentos frescos y pan de alta calidad. ¡Si quieres probar unas
                        hamburguesas únicas llámanos para reservar mesa o si prefieres
                        nosotros te lo llevamos a casa!
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="../../../assets/products/hamburguesas.webp" alt="Imagen de hamburguesas"
                        class="hamburguesas img-fluid rounded" />
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-6">
                    <h2>Nuestro producto estrella</h2>
                    <p>
                        La Burger Anteux es nuestra hamburguesa más emblemática, ya que
                        ofrece una carne sublime con una salsa muy especial. Además, como
                        complemento puedes disfrutar de patatas clásicas, bravas o de alguna
                        de las raciones que tenemos en la carta.
                    </p>
                    <div class="text-center">
                        <img src="../../../assets/products/anteux.webp" alt="Imagen de hamburguesa Anteux"
                            class="burguer img-fluid rounded center mb-4" />
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>Para el postre</h2>
                    <p>
                        Te sugerimos nuestra especialidad que son unas tortitas que siempre
                        cautivan a los paladares más golosos. ¡Si quieres probar algo
                        diferente vive la experiencia de sabor que te proponemos desde
                        Anteux Burger!
                    </p>
                    <div class="tortitas">
                        <img src="../../../assets/products/tortitas.webp" alt="Imagen de tortitas"
                            class="postre img-fluid rounded mb-4" />
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h2 class="text-center">Conoce todas nuestras ventajas</h2>
                <p class="text-center">
                    Una de las principales señas de identidad que nos ha caracterizado
                    desde nuestros orígenes es la atención a nuestros clientes, por eso:
                </p>
                <div class="tarjetas">
                    <div class="domicilio">
                        <mat-icon>directions_car</mat-icon>
                        <p>Llevamos tu pedido a domicilio en Pinto por tan solo 1,50€ más</p>
                    </div>
                    <div class="celiacos">
                        <mat-icon>local_dining</mat-icon>
                        <p>La mayoría de nuestra carta es apta para celiacos</p>
                    </div>
                    <div class="vegetarianos">
                        <mat-icon>restaurant_menu</mat-icon>
                        <p>Tenemos platos para veganos y vegetarianos</p>
                    </div>
                    <div class="reservas">
                        <mat-icon>calendar_month</mat-icon>
                        <p>Funcionamos con reservas de mesa para evitarte esperas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>