.login-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  font-size: 2rem;
}


mat-error {
  font-size: 12px;
  font-weight: bold;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 100vw;
  background: #000;
}

:host {
  display: flex;
  justify-content: center;
  // margin: 100px 0px;
  background-color: #000;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  max-width: 100vw;

}

.login-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
