@import "./variables.scss";

.content {
  font-family: "Heebo", sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .content {
    flex: 1;
    background-color: rgb(241, 241, 241);
  }
}

#scroll-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: none;
  background-color: $color-amarillo;
  color: $color-negro;
}

#scroll-to-top.show {
  display: block;
}
