<div class="image-container">
    <div class="content">
        <div class="container">
            <div class="imagen">
                <img ngSrc="../../../assets/products/logoblanco.webp" alt="logo" class="logo" width="30" height="30">
            </div>
            <div class="title">
                <h1> Donde nacen las mejores hamburguesas</h1>
            </div>
            <div class="d-flex">
                <button class="btn" [routerLink]="['/carta']">¡Haz tu pedido!</button>
            </div>
        </div>
    </div>
</div>