<div class="image-container">
  <div class="content">
    <div class="container">
      <div class="opciones">
        <div class="btn-group" role="group" aria-label="Category selection">
          <button type="button" class="btn m-1" [class.btn-selected]="selectedCategory === 'TODOS'"
            (click)="changeCategory('TODOS')">Todos</button>
          <button type="button" class="btn m-1" [class.btn-selected]="selectedCategory === 'ESPECIALIDADES'"
            (click)="changeCategory('ESPECIALIDADES')">Especialidades</button>
          <button type="button" class="btn m-1" [class.btn-selected]="selectedCategory === 'HAMBURGUESAS'"
            (click)="changeCategory('HAMBURGUESAS')">Hamburguesas</button>
          <button type="button" class="btn m-1" [class.btn-selected]="selectedCategory === 'BOCADILLOS'"
            (click)="changeCategory('BOCADILLOS')">Bocadillos</button>
          <button type="button" class="btn m-1" [class.btn-selected]="selectedCategory === 'PERRITOS'"
            (click)="changeCategory('PERRITOS')">Perritos</button>
          <button type="button" class="btn m-1" [class.btn-selected]="selectedCategory === 'PLATOS COMBINADOS'"
            (click)="changeCategory('PLATOS COMBINADOS')">Platos Combinados</button>
          <button type="button" class="btn m-1" [class.btn-selected]="selectedCategory === 'RACIONES'"
            (click)="changeCategory('RACIONES')">Raciones</button>
          <button type="button" class="btn m-1" [class.btn-selected]="selectedCategory === 'POSTRES'"
            (click)="changeCategory('POSTRES')">Postres</button>
        </div>
      </div>
      <div id="productList">
        <app-product class="mt-5" *ngFor="let category of productList" [product]="category"></app-product>
      </div>
    </div>
  </div>
</div>