@import '../../variables.scss';
.container-fluid{
    margin-bottom: 2rem;
}

#productList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.opciones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;

  .btn-group{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .btn {
    background-color: $color-amarillo;
    color: $color-negro;
    border: none;
    border-radius: 20px;
  }

  .btn-selected {
    background-color: $color-negro;
    color: $color-amarillo;
  }
  
}
#text{
  color: $color-amarillo;
}