<div class="content">
  <div class="close">
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <p class="dialog-title">Resumen de tu pedido:</p>

  <mat-dialog-content>


    <div *ngFor="let pedido of pedidosConDetalles">
      <h3>Pedido ID: {{ pedido.order_id }}</h3>
      <ul>
        <li *ngFor="let detalle of pedido.details">
          Cantidad: {{ detalle.quantity }}
          Producto: {{ obtenerNombreProducto(detalle) }}
        </li>
      </ul>
    </div>
    <button mat-button (click)="close()">Cerrar</button>


  </mat-dialog-content>
