<div class="pago-container">
    <div class="content">
        <div class="title">
            <h1>Resumen de tu pedido</h1>
        </div>
        <div class="principal">
            <div class="resumen">
                <div class="entrega">
                    <h4>Entrega</h4>
                    <div class="botones-entrega">
                        <button class="btn">Entrega a domicilio</button>
                        <button class="btn">Recoger en el local</button>
                    </div>
                </div>
                <div class="direccion">
                    <h4>Dirección</h4>
                    <div class="botones-direccion">
                        <button class="btn">Añadir dirección</button>
                        <button class="btn">Cambiar dirección</button>
                    </div>
                </div>
                <div class="metodos-pago">
                    <h4>Métodos de pago</h4>
                </div>
            </div>
            <div class="pago">
                <div class="resumen">
                    <h4>Resumen</h4>
                </div>
            </div>
        </div>
    </div>
</div>